main form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    padding-bottom: 30px;
}
.element-form {
    max-width: 720px;
    width: 90%;
    margin-top: 30px;
}
.element-form input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0 solid;
}
.interes{
    display: flex;
    flex-wrap: wrap;
    
}
.check{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px;
}
.check input{
    max-width: 20px;
    margin:0px 20px;
}


.user-perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name-category{
    width: 100%;
    font-weight: bold;
    margin: 20px 0px;
}
input[type="date"] {
    margin-top: 20px;
}
.user-perfil :nth-child(2), .user-perfil :nth-child(3) {
    display: flex;
    justify-content: center;
    max-width: 110px;
    width: 50%;
}
.buttom-blue{
    border: 0px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    color: #ebebeb;
    background-color: #1259c3;
}
.button-enviar{
    width: 100%;
}
.button-enviar:hover{
    background-color: #0022AA;
}

.buttom-green{
    border: 0px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    color: #ebebeb;
    background-color: #39b54a;
}