*{
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
 h3{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #666;
}
main{
    width: 90vw;
    margin: auto; 
    padding-bottom: 5px;
}
 img{
    width: 100%;
}

main div article{
    margin-bottom:  35px;
    margin-left: 5px ;
    margin-right: 5px ;
    background-color: #FFFFFF;
}
main article div {
    border-top: solid #ebebeb 1px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main article div p {
    margin-top: 0.5em;
}
/* icon track */
main article i {
    border-radius: 50%;
    border: solid #39b54a 1px;
    color: #39b54a;
    
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: relative;
    left: 90%;
    top: -55px;
}
/* precio */
.precio{
    width: 30%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
/* descuentos */
.descuentos{
    text-align: left;
    width: 70%;
    font-size: 1em;
    color: #39b54a;
    font-family: 'Roboto', sans-serif;
}
/* descripcion */
main article div :nth-child(4){
    font-size: 16px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.main-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width:769px) {
    h3{
        font-size: 1.5em;
    }
 
    .precio{
        /* font-size: 18px; */
        font-size: 1.125em;
    }
    .descuentos{
        font-size: 1em;
    }

    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        max-width: 286px;
    }
}
@media (min-width:986px) {
    main article{
        max-width: 22%;
    }
    .precio{
        width: 50%;
    }
    .descuentos{
        width: 50%;
    }
}
